<!DOCTYPE html>
<html>
<head>
<script src="library/tmpl.min.js"></script>
<meta charset="utf-8" />
<link rel="stylesheet" href="styles.css"/>

<script type="text/javascript">
	var mockData = {
            "cliente": "Jorgito Neves",
            "endereco": "Rua da Rua",
            "cpf": "548.654.235-00",
            "itens": [{"qtd": "15", "descricao": "Batata", "valor": "20,00"},
                      {"qtd": "10", "descricao": "Hamburguer", "valor": "25,00"},
                      {"qtd": "10", "descricao": "Pão", "valor": "15,00"}],
            "valor_total": "45,00",
            "valor_pago": "45,00",
            "meio_pagamento": "CRÉDITO",
            "data_expiracao": "10/21"
     };

    window.loadContent = function(templateId, jsonData) {
            var startTime = (new Date()).getTime();

            var elContent = document.getElementById("content");

			var template = "";

			if(jsonData) {
                template = tmpl(templateId, jsonData);
            } else {
                template = tmpl(templateId, mockData);
            }

			var templateTime = (new Date()).getTime() - startTime ;
            console.log("JavaScript tempate[" + templateTime +"]");

            elContent.innerHTML = template;
    }

    window.clearContent = function() {
        var elContent = document.getElementById("content");
        elContent.innerHTML = "";
    }
</script>

<script id="sample-template" type="text/x-tmpl">
	<div class="font-size-14">
        <div class="print-logo">
        </div>
        <hr class="print-hr"/>

        <div class="line">
        	CLIENTE :
            <span class="value">{%=o.cliente%}</span>
        </div>

        <div class="line">
        	ENDEREÇO :
            <span class="value">{%=o.endereco%}</span>
        </div>
        </div>

        <div class="line">
        	CPF :
            <span class="value">{%=o.cpf%}</span>
        </div>

        <br/>

        {% if (o.itens) { %}

            <table>
                <tr>
                    <td><b>Descrição|</b></td>
                    <td><b>Qtde.|</b></td>
                    <td><b>Vlr em R$|</b></td>
                </tr>

                {% for (var i=0; i<o.itens.length; i++) { %}

                    <tr>
                        <td>{%=o.itens[i].descricao%}</td>
                        <td>{%=o.itens[i].qtd%}</td>
                        <td>{%=o.itens[i].valor%}</td>
                    </tr>

                {% } %}

            </table>

        {% } %}

        <br/>

		<div class="line">
			VALOR TOTAL :
			<span class="value">{%=o.valor_total%}</span>
		</div>

		<div class="line">
		    VALOR PAGO :
			<span class="value">{%=o.valor_pago%}</span>
		</div>

		{% if (o.meio_pagamento) { %}
		<div class="line">
			MEIO PAGAMENTO :
			<span class="value">{%=o.meio_pagamento%}</span>
		</div>
		{% } %}


		{% if (o.data_expiracao) { %}
		<div class="line">
			DATA DE EXPIRAÇÃO :
			<span class="value">{%=o.data_expiracao%}</span>
		</div>
		{% } %}

	</div>
</script>

</head>
<body>
<div id="content"></div>
<script type="text/javascript">
	// loadContent('pay-template', mockData);
</script>
</body>
</html>
