<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.com.netcom.corresponsal">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="Pygree"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
        android:usesCleartextTraffic="true"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.sinTarjeta.PantallaRetiroSinTarjetaLoader" android:screenOrientation="portrait"></activity>
        <activity android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.pantallaCantidadPagoFacturas" android:screenOrientation="portrait"/>
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.conTarjeta.PantallaRetiroConTarjetaTipoDeCuenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.duplicado.pantallaInicialDuplicado"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.tarjetaEmpresarial.PantallaTarjetaEmpresarialCantidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.tarjetaEmpresarial.PantallaTarjetaEmpresarialLectura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.transferencia.pantallaTransferenciaCantidad"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.transferencia.pantallaTransferenciaTipoCuentas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.consultaSaldo.pantallaConsultaSaldoTipoCuenta"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.transferencia.pantallaTransferenciaLectura"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.consultaSaldo.pantallaConsultaSaldoLectura"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.comunes.splash.SplashInicial"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.conTarjeta.PantallaRetiroConTarjetaLoader"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.conTarjeta.PantallaRetiroConTarjetaCantidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.comunes.tipoDeUsuario.pantallaTipoDeUsuario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.recargas.pantallaRecargaCantidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.recargas.pantallaRecargaCelular"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.cancelar.pantallaCancelarGiroCantidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.sinTarjeta.pantallaRetiroSinTarjetaPin"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.sinTarjeta.pantallaRetiroSinTarjetaCantidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.retiro.PantallaInicialRetiro"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.manual.manualCuentaRecaudadora.pantallaPagoFacturasManualCuentaRecaudadora"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.manual.manualConvenio.pantallaPagoFacturasManualConvenio"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.manual.pantallaPagoFacturasManual"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoFacturas.pantallaInicialPagoFacturas"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoProductosBCO.tarjetaCredito.pantallaTarjetaCreditoProductosBCO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoProductosBCO.cartera.pantallaCarteraNumeroPagare"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.pagoProductosBCO.pantallaInicialPagoProductosBCO"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.deposito.pantallaDepositoDatosDepositante"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.cancelar.pantallaCancelarGiroPinReferencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.cancelar.pantallaCancelarGiroDatosBeneficiario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.cancelar.pantallaCancelarGiroDatosGirador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.reclamar.pantallaReclamarGiroNumeroReferencia"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.reclamar.pantallaReclamarGiroDatosBeneficiario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.enviar.pantallaEnviarGiroDatosBeneficiario"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.enviar.pantallaEnviarGiroDatosGirador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.comunes.pantallaConfirmacion.pantallaConfirmacion"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.enviar.pantallaEnviarGiroCantidad"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.giros.pantallaInicialGiros"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.administrador.inicio.pantallaInicialAdministrador"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.corresponsal.usuarioComun.transacciones.inicio.pantallaInicialUsuarioComun"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.comunes.logIn.LogIn"
            android:screenOrientation="portrait" />
        <activity
            android:name=".pantallas.comunes.popUp.PopUp"
            android:screenOrientation="portrait" />
        <activity
            android:name=".PruebaC"
            android:screenOrientation="portrait" />
    </application>

</manifest>